

{% extends "base.html" %}

{% block main %}
{% raw %}
    <div ng-app="myApp" ng-controller="myCtrl">
        <div ng-repeat="thumb in myApp track by $index" class="col-md-4, img-thumbnail">
          <!--<div ng-repeat="thumbnail in myThumbnail track by $index" class="col-md-4, img-thumbnail">-->
            <img class="item" src="{{ thumb }}">
        </div>

    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            $http.get("/api/thumbnails")
                .then(function(response) {
                    $scope.myApp = response.data.thumbnails;
                });
        });
    </script>
{% endraw %}
{% endblock %}